{% extends 'base.html.twig' %}

{% block title %}Liste des interventions{% endblock %}

{% block body %}
    <div class='text-center mb-2'>	
        <div class='h2 mb-3'>Liste des interventions</div>
    </div>

    <hr>

    <div class='container index-list'>
        <div class="row tab-head p-2">
            <div class="col-2">Date d'ouverture</div>
            <div class="col-2">Client</div>
            <div class="col-2">Téléphone</div>
            <div class="col-2">Techniciens</div>
            <div class="col-2">Tâches</div>
            <div class="col-2">Status</div>
        </div>

        {% for intervention in interventions %}
            <a href="{{ path('intervention_show', {'id': intervention.id}) }}">
                <div class="row {{ intervStatus(intervention.status) }} link p-2">
                    <div class="col-2 my-auto">{{ intervention.depositDate ? intervention.depositDate|date('d-m-Y') : '' }}</div>
                    <div class="col-2 my-auto">{{ intervention.client }}</div>
                    <div class="col-2 my-auto">{{ intervention.client.phone }}</div>
                    <div class="col-2 my-auto">{% for technician in intervention.technicians %}{{ technician }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                    <div class="col-2 my-auto">{% for task in intervention.tasks %}{{ task }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                    <div class="col-2 my-auto">{{ intervention.status }}</div>
                </div>
            </a>
        {% else %}
            <div class="row">
                <div class='col text-center alert-label p-2'>Aucunes demandes d'intervention enregistrées</div>
            </div>
        {% endfor %}
        
    </div>

{% endblock %}
