{% extends 'base.html.twig' %}

{% block title %}Rapport d'intervention{% endblock %}

{% block javascripts %}        
    <script src="{{ asset('assets/js/colorFinder.js') }}"></script>
    <script src="{{ asset('assets/js/menuExpend.js') }}"></script>     
    <script src="{{ asset('assets/js/searchBar.js') }}"></script>
    <script src="{{ asset('assets/js/resetSelection.js') }}"></script>     
    <script src="{{ asset('assets/js/tooltip.js') }}"></script>     
{% endblock %}

{% block body %}
    <a href="{{ path('intervention_show', {'id': intervention.id}) }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h2 class='text-center mb-5 font-weight-bold'>Rapport d'intervention</h2>

    <form method="post" action="{{ path('intervention_report', {'id': intervention.id}) }}">

        {% set step = intervention.interventionReport.step %}

        {% if step != 9 %}
            <h4 class='h4 text-center'>
                {% if step > 1 %}<a href="{{ path('intervention_report', {'id': intervention.id, 'step': 'previous'}) }}"><i data-toggle="tooltip" title="Étape précédente" class="report-navigation-btn fas fa-arrow-left mr-3"></i></a>{% endif %}
                Étape {{ step }}/8
                <button class='report-navigation report-navigation-btn' name='step' value='next'>{% if step < 8 %}<i data-toggle="tooltip" title="Étape suivante" class="fas fa-arrow-right ml-3"></i>{% else %}<i data-toggle="tooltip" title="Terminer le rapport" class="fas fa-check ml-3"></i>{% endif %}</button>
            </h4>
        {% else %}
            <h4 class='h4 text-center'><a class='report-navigation report-navigation-btn' data-toggle="tooltip" title="Recommencer le rapport" href="{{ path('intervention_report', {'id': intervention.id, 'step': 'restart'}) }}"><i class="fas fa-redo mr-3"></i></a>Résumé du rapport d'intervention</h4>
            <div class='text-center mt-4'><a class="green-btn f-20 px-4 py-2 mr-2" href="{{ path('intervention_show', {'id': intervention.id}) }}">Terminer le rapport</a></div>
        {% endif %}
        <hr>


        {% if step == 1 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <a href="{{ path('technician_new', {'s': 'report', 'id': intervention.id}) }}" class='my-auto'><i data-toggle="tooltip" title="Ajouter un technicien" class="float-left fas add-btn fa-plus-circle fa-lg mr-2"></i></a><div class='f-20'>Technicien(s) en charge de l'intervention</div>
                </div>
                <input class='w-100 mb-3 p-2' type="text" id="searchBar" placeholder="Rechercher un technicien">

                <div class="container-background col p-4 content list">
                    {% for technician in technicians %}
                        <div class='data-row row'>
                            <div class='col-md-auto my-auto'><input type="checkbox" name="technicians[]" value="{{ technician.id }}"/></div>
                            <div class='col'><div class='f-20 w-100'>{{ technician }}</div></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif step == 2 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <a href="{{ path('software_new', {'s': 'report', 'id': intervention.id}) }}" class='my-auto'><i data-toggle="tooltip" title="Ajouter un logiciel" class="float-left fas add-btn fa-plus-circle fa-lg mr-2"></i></a><div class='f-20'>Logiciel(s) de nettoyage utilisé(s)</div>
                </div>
                <div class="container-background col p-4 content list">
                    <div class='row justify-content-center'>
                        <div class='col-md-auto'><input class='mr-2' type="radio" name="severity" value="Matériel non infecté" required checked />Matériel non infecté</div>
                        <div class='col-md-auto'><input class='mr-2' type="radio" name="severity" value="Matériel légèrement infecté" />Matériel légèrement infecté</div>
                        <div class='col-md-auto'><input class='mr-2' type="radio" name="severity" value="Matériel dangereusement infecté" />Matériel dangereusement infecté</div>
                    </div>
                    
                    <div class='more-content'>
                        <div class='row justify-content-center mt-3'>
                            <div class='col-md-auto'><input class='mr-2' type="checkbox" name="severity-problem[]" value="Virus" />Virus</div>
                        </div>
                        <h5>Analyse interne <span class='h6 font-italic'>(facultatif)<span></h5>
                        <input class='w-100 mb-3 p-2' type="text" id="internalAnalysis" name="internal-analysis">
                        <input class='w-100 mb-3 p-2' type="text" id="searchBar" placeholder="Rechercher un logiciel">
                        {% for software in softwares %}
                            <div class='data-row row'>
                                <div class='col-md-auto my-auto'><input type="checkbox" name="cleaning-software[]" value="{{ software.id }}"></div>
                                <div class='col'><div class='f-20 w-100'>{{ software.title }}</div></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% elseif step == 3 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <a href="{{ path('action_new', {'s': 'report', 'id': intervention.id}) }}" class='my-auto'><i data-toggle="tooltip" title="Ajouter une action" class="float-left fas add-btn fa-plus-circle fa-lg mr-2"></i></a><div class='f-20'>Action(s) effectuée(s) lors de l'intervention</div>
                </div>
                <input class='w-100 mb-3 p-2' type="text" id="searchBar" placeholder="Rechercher une action">

                <div class="container-background col p-4 content list">
                    {% for action in actions %}
                        <div class='data-row row'>
                            <div class='col-md-auto my-auto'><input type="checkbox" name="actions[]" value="{{ action.id }}"></div>
                            <div class='col'><div class='f-20 w-100'>{{ action.title }}</div></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif step == 4 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <a href="{{ path('software_new', {'s': 'report', 'id': intervention.id}) }}" class='my-auto'><i data-toggle="tooltip" title="Ajouter un logiciel" class="float-left fas add-btn fa-plus-circle fa-lg mr-2"></i></a><div class='f-20'>Logiciel(s) installé(s) ou mis à jour</div>
                </div>
                <input class='w-100 mb-3 p-2' type="text" id="searchBar" placeholder="Rechercher un logiciel">

                <div class="container-background col content list">
                    <div>
                        <div class='row justify-content-center tab-head p-2'>
                            <div class='col-1 text-center'>Installé</div>
                            <div class='col-2 text-center'>Mis à jour</div>
                            <div class='col'>Titre</div>
                            <div class='col-md-auto my-auto'><i data-toggle="tooltip" title="Effacer la sélection" id="resetSelection" class="float-right fas fa-redo report-navigation-btn"></i></div>
                            
                        </div>
                        {% for software in softwares %}
                            <div class='data-row row'>
                                <div class='col-1 text-center my-auto'><input type="radio" name="software-{{ software.id }}" value="Installé"></div>
                                <div class='col-2 text-center my-auto'><input type="radio" name="software-{{ software.id }}" value="Mis à jour"></div>
                                <div class='col-9'><div class='f-20 w-100'>{{ software.title }}</div></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% elseif step == 5 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <div class='f-20'>Sous-partie Windows</div>
                </div>
                <div class="container-background col p-4 content list">
                {% if isWindows(intervention.operatingSystem.title) == true %}
                    <div class='row justify-content-center text-center my-auto'>
                        <div class="col-auto d-flex flex-column">
                            <div><input class='mr-2' id="windowsVersionCheckbox" type="checkbox" name="windows-install[]" value="Installation de(s) mise(s) à jour Windows" />Installation de(s) mise(s) à jour Windows</div>
                            <div class='more-content' id="windowsVersionContainer"><input class='w-100' id="windowsVersionInput" name="windows-version" type="text" placeholder="Numéro de(s) version(s)"></div>
                        </div>
                        <div class="col-auto"><input class='mr-2' type="checkbox" name="windows-install[]" value="Activation Windows" />Activation Windows</div>
                    </div>
                {% else %}
                    <div class='row justify-content-center missing-info font-weight-bold'>Le matériel ne concerne pas un Windows ({{ intervention.operatingSystem }})</div>
                {% endif %}
                </div>
            </div>
        {% elseif step == 6 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <div class='f-20'>Rapport CrystalDisk</div>
                </div>
                <div class="container-background col p-4 content list">
                    <div class="col-auto text-center">État du disk :</div>                    
                    <div class='row justify-content-center text-center my-auto'>
                        <div class="col-auto"><input class='mr-2' id="diskState" type="radio" name="disk-state" value="Correct" />Correct</div>
                        <div class="col-auto"><input class='mr-2' type="radio" name="disk-state" value="Prudence" />Prudence</div>
                        <div class="col-auto"><input class='mr-2' type="radio" name="disk-state" value="Mauvais" />Mauvais</div>
                    </div>
                    <br>
                    <div>
                        <div>
                            Heure(s) de Fonctionnement : <input class='w-100' id="uptimeInput" name="uptime" type="text" placeholder="Heure(s)">
                        </div>
                        <br>
                        <div>
                            Taux d'usure : <input class='w-100' id="batteryDegradationInput" name="battery-degradation" type="text" placeholder="Taux">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        {% elseif step == 7 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <a href="{{ path('booklet_new', {'s': 'report', 'id': intervention.id}) }}" class='my-auto'><i data-toggle="tooltip" title="Ajouter une brochure" class="float-left fas add-btn fa-plus-circle fa-lg mr-2"></i></a><div class='f-20'>Brochure(s) à donner</div>
                </div>
                <input class='w-100 mb-3 p-2' type="text" id="searchBar" placeholder="Rechercher une brochure">
                <div class="container-background col p-4 content list">
                    {% for booklet in booklets %}
                        <div class='data-row row'>
                            <div class='col-md-auto my-auto'><input type="checkbox" name="booklets[]" value="{{ booklet.id }}"></div>
                            <div class='col'><div class='f-20 w-100'>{{ booklet.title }}</div></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif step == 8 %}
            <div class="row justify-content-around mb-3 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3'>
                    <div class='f-20'>Observations sur l'intervention</div>
                </div>
                <div class="container-background col p-4 content list">
                    <textarea class='w-100 p-2' name='comment' placeholder="Observations sur l'intervention (facultatif)" rows="5"></textarea>
                </div>
            </div>
        {% endif %}

        {% if step == 9 %}
            <div class="row justify-content-around mb-5 report-container">
                <div class='col-12 justify-content-center row step-title p-2 mb-3 f-20'>Facture et informations</div>                
                <div class="container-background col-8 mb-auto p-4">
                    <div class='comment p-2'><span class='font-weight-bold'>Observations</span> : {{ intervention.interventionReport.comment ?: "<span class='missing-info font-weight-bold'>Pas d'observations</span>"}}</div>
                    <h5 class='mt-3 font-weight-bold'>Facture</h5>
                    {% for task in intervention.tasks %}
                        <div class='w-100'>{{ completePrice(task.price) }}€ - {{ task }}</div>
                    {% endfor %}
                    {% set billingLines = intervention.billingLines %}
                    {% if billingLines|length > 0 %}
                        {% for billingLine in billingLines %}
                            <div class='row'>
                                <div class='col'>
                                    <div>{{ completePrice(billingLine.price) }}€ - {{ billingLine }}</div>
                                </div>
                                <div class='col-md-auto'>
                                    <form method="post" action="{{ path('intervention_report', {'id': intervention.id}) }}">
                                        <input type='hidden' name='billing-line-id' value='{{ billingLine.id }}' />
                                        <button name='delete-billing-line' class='report-navigation report-navigation-btn'><i data-toggle="tooltip" title="Supprimer la ligne" class="fa fa-trash"></i></button>
                                    </form>
                                </div>                                 
                            </div>
                        {% endfor %}
                    {% endif %}
                    <hr>
                    {{ include('billing_line/_form.html.twig', {'button_label': 'Ajouter'}) }}
                    <hr>
                    <div class='f-20 font-weight-bold'>Total : {{ intervention.totalPrice }}€</div>
                </div>

                <div class='d-flex flex-column col-4'>
                    <div class="container-background col p-4 mb-3">
                        {% set technicians = intervention.interventionReport.technicians %}
                        {% set hasTechnician = false %}
                        <div class='f-20 text-center font-weight-bold'>Technicien(s)</div>
                        <hr>
                        <div class="row tab-head">
                            <div class="col-6">Nom</div>
                            <div class="col-6">Prénom</div>
                        </div>
                        <div class='h-100 row mt-2'>
                        {% for technician in technicians %}
                            {% set hasTechnician = true %}
                            <div class="data-row col-6">{{ technician.lastName }}</div>
                            <div class="data-row col-6">{{ technician.firstName }}</div>
                        {% endfor %}
                        {% if hasTechnician == false %}
                            <div class='col-12 text-center mx-auto missing-info font-weight-bold'>Aucun technicien(s) assigné(s)</div>
                        {% endif %}
                        </div>
                    </div>

                    <div class="container-background col p-4">
                        {% set booklets = intervention.interventionReport.booklets %}
                        {% set hasBooklet = false %}
                        <div class='f-20 text-center font-weight-bold'>Brochure(s) à donner</div>
                        <hr>
                        <div class="row tab-head">
                            <div class="col-12">Titre</div>
                        </div>
                        <div class='h-100 row mt-2'>
                        {% for booklet in booklets %}
                            {% set hasBooklet = true %}
                            <div class="data-row col-12">{{ booklet }}</div>
                        {% endfor %}
                        {% if hasBooklet == false %}
                            <div class='col-12 text-center mx-auto missing-info font-weight-bold'>Aucune brochure(s) à donner</div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class='text-center'>
                <a class="w-100 p-2 more-infos" data-toggle="collapse" href="#moreInfos" aria-expanded="false">Plus d'informations sur le rapport<i class="ml-2 fas fa-chevron-up more-infos-chevron"></i></a>
                <hr>
            </div>
            <div class="collapse" id="moreInfos">
                <div class="row justify-content-around mb-5 report-container">
                    <div class='col-12 justify-content-center row step-title p-2 mb-3 f-20'>Traitement de l'infection</div>
                    <div class="container-background col mb-auto p-4 mr-5">
                        {% set severityProblems = intervention.interventionReport.severityProblem %}
                        <div class='f-20 text-center font-weight-bold'>Sévérité de l'infection</div>
                        <hr>
                        <div class='comment p-2'><span class='font-weight-bold'>Sévérité</span> : {{ intervention.interventionReport.severity }}</div>
                        <div class='comment p-2 mt-2'><span class='font-weight-bold'>Analyse interne</span> : {{ intervention.interventionReport.internalAnalysis ?: "<span class='missing-info font-weight-bold'>Pas d'informations sur l'analyse interne</span>"}}</div>
                        <div class='row mt-2 data-row'>
                            <div class='col-3'>Virus</div><div class='col-9'>{% if "Virus" in severityProblems %}<i class="fas fa-plus"></i>{% else %}<i class="fas fa-minus"></i>{% endif %}</div>
                        </div>
                    </div>

                    <div class="container-background col mb-auto p-4">
                        {% set softwares = intervention.interventionReport.softwareInterventionReports %}
                        {% set hasSoftware = false %}
                        <div class='f-20 text-center font-weight-bold'>Logiciel(s) de nettoyage utilisé(s)</div>
                        <hr>
                        <div class="row tab-head">
                            <div class="col-12">Titre</div>
                        </div>
                        <div class='h-100 row mt-2'>
                        {% for software in softwares %}
                            {% if software.action == 'Nettoyage' %}
                                {% set hasSoftware = true %}
                                <div class="data-row col-12">{{ software }}</div>
                            {% endif %}
                        {% endfor %}
                        {% if hasSoftware == false %}
                            <div class='col-12 text-center mx-auto missing-info font-weight-bold'>Aucun logiciel(s) spécifié(s)</div>
                        {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row justify-content-around mb-5 report-container">
                        <div class="col-12 justify-content-center row step-title p-2 mb-3 f-20 text-center">Info CrystalDisk</div>
                        <div class="container-background col mb-auto p-4">
                            <div class="f-20 text-center font-weight-bold">Info</div>
                            <hr>
                            <div class="comment p-2"><span class="font-weight-bold">État du disk</span> : {{ intervention.interventionReport.diskState }}</div>
                            <div class="comment p-2 mt-2"><span class="font-weight-bold">Temps de fonctionnement</span> : {{ intervention.interventionReport.uptime }}h</div>
                            <div class="comment p-2 mt-2"><span class="font-weight-bold">Taux d'usure de la batterie</span> : {{ intervention.interventionReport.batteryDegradation }}%</div>
                        </div>
                    </div>
                <div class="row justify-content-around mb-5 report-container">
                    <div class='col-12 justify-content-center row step-title p-2 mb-3 f-20'>Opérations sur le matériel</div>
                    <div class="container-background col mb-auto p-4 mr-5">
                        {% set actions = intervention.interventionReport.actions %}
                        {% set hasAction = false %}
                        <div class='f-20 text-center font-weight-bold'>Action(s) effectuée(s)</div>
                        <hr>
                        <div class="row tab-head">
                            <div class="col-12">Titre</div>
                        </div>
                        <div class='h-200 row mt-2'>
                        {% for action in actions %}
                            {% set hasAction = true %}
                            <div class="data-row col-12">{{ action }}</div>
                        {% endfor %}
                        {% if hasAction == false %}
                            <div class='col-12 text-center mx-auto missing-info font-weight-bold'>Aucune action(s) spécifiée(s)</div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="container-background col mb-auto p-4 mr-5">
                        {% set softwares = intervention.interventionReport.softwareInterventionReports %}
                        {% set hasSoftware = false %}
                        <div class='f-20 text-center font-weight-bold'>Installation(s)/mise(s) à jour de logiciel(s)</div>
                        <hr>
                        <div class="row tab-head">
                            <div class="col-6">Titre</div>
                            <div class="col-6">Action</div>
                        </div>
                        <div class='h-200 row mt-2'>
                        {% for software in softwares %}
                            {% if software.action != 'Nettoyage' %}
                                {% set hasSoftware = true %}
                                    <div class="col-6 data-row">{{ software }}</div>
                                    <div class="col-6 data-row">{{ software.action }}</div>
                            {% endif %}
                        {% endfor %}
                        {% if hasSoftware == false %}
                            <div class='col-12 text-center mx-auto missing-info font-weight-bold'>Aucun logiciel(s) spécifié(s)</div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="container-background col mb-auto p-4">
                        {% set installs = intervention.interventionReport.windowsInstall %}
                        <div class='f-20 text-center font-weight-bold'>Sous-partie Windows</div>
                        <hr>
                        <div class="row tab-head">
                            <div class="col-12">Titre</div>
                        </div>
                        <div class='h-100 row mt-2'>
                        {% if installs|length > 0 %}
                            {% for install in installs %}
                                <div class='data-row col-12'>{{ install }}</div>
                            {% endfor %}
                        {% elseif isWindows(intervention.operatingSystem.title) == true %}
                            <div class='col-12 text-center mx-auto missing-info font-weight-bold'>Le matériel n'a pas reçu d'installations windows</div>
                        {% else %}
                            <div class='col-12 text-center mx-auto missing-info font-weight-bold'>Le matériel ne concerne pas un Windows ({{ intervention.operatingSystem }})</div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <input type='hidden' name='data' value='submit' />

    </form>

{% endblock %}
