<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PDF - Intervention</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('assets/scss/style.css') }}"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <style type="text/css">
        hr { margin: 5px 0 5px 0; }
        .font-b{ font-weight: bold; }
        .font-25 { font-size: 25px; }
        .font-20 { font-size: 20px; }
        .border-on { border: solid 1px #5c5c5c; }
        .checkbox-container { overflow-wrap: break-word; }
        .checkbox-item { margin: 15px; display: inline; }
        .main-container { max-width: 703px; }
        .header {
            border: solid 1px #264653;
            background-color: #264653;
            color: #FFFFFF;
        }
        .container-2-2 {
            width: 339px;
            display: inline-block; 
            vertical-align: top;
        }
        .container-1-3 {
            width: 234px;
            display: inline-block; 
            vertical-align: top;
        }
        .container-2-3 {
            width: 440px;
            display: inline-block; 
            vertical-align: top;
        }
        .tab-title { 
            color: #FFFFFF;
            border: solid 1px #264653;
            background-color: #264653;
            text-align: center; 
        }
        .tab { width: 100%; }
        .tab-label {
            padding-right: 10px;
            text-align: center;
        }
    </style>

    <body>
        <div class='main-container'>
            <div class='p-2 header'>
                <div class='text-center font-weight-bold'>DEMANDE D'INTERVENTION</div>
            </div>

            <div class='p-2 mt-1 '>
                <div class='container-2-2'>
                    <div class='header'>
                        <div class='text-center font-weight-bold'>Informations client</div>
                    </div>
                    <table class='tab'>
                        <tbody>
                            <tr>
                                <td class='border-on tab-label'>Client</td>
                                <td class='border-on font-b font-20 pl-1'>{{ intervention.client }}</td>
                            </tr>
                            <tr>
                                <td class='border-on tab-label'>Téléphone</td>
                                <td class='border-on pl-1'>{{ intervention.client.phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class='container-2-2'>
                    <div class='header'>
                        <div class='text-center font-weight-bold'>Dates d'intervention</div>
                    </div>
                    <table class='tab'>
                        <tbody>
                            <tr>
                                <td class='border-on  tab-label'>Date de dépôt</td>
                                <td class='border-on pl-1'>{{ intervention.depositDate ? intervention.depositDate|date('d-m-Y') : "" }}</td>
                            </tr>
                            <tr>
                                <td class='border-on  tab-label'>Date de restitution</td>
                                <td class='border-on font-b font-20 pl-1'>{{ intervention.returnDate ? intervention.returnDate|date('d-m-Y') : "" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class='p-2'>
                <div class='header'>
                    <div class='text-center font-weight-bold'>Informations sur l'intervention</div>
                </div>
                <table class='tab'>
                    <tbody>
                        <tr>
                            <td class='border-on tab-label'>Tâches</td>
                            <td class='border-on font-b font-20 pl-1'>{% for task in intervention.tasks %}{{ task }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td class='border-on tab-label'>Commentaire</td>
                            <td class='border-on pl-1'>{{ intervention.comment }}</td>
                        </tr>
                        <tr>
                            <td class='border-on tab-label'>Techniciens</td>
                            <td class='border-on font-b font-20 pl-1'>{% for technician in intervention.technicians %}{{ technician }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td class='border-on tab-label'>Équipement</td>
                            <td class='border-on font-b font-20 pl-1'>{{ intervention.equipment }} - {{ intervention.operatingSystem }}</td>
                        </tr>
                        <tr>
                            <td class='border-on tab-label'>Matériel complet</td>
                            <td class='border-on pl-1'>{{ intervention.equipmentComplete }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='p-2'>
                <div class='header'>
                    <div class='text-center font-weight-bold'>Séverité de l'infection</div>
                </div>
                <div class='border-on'>
                    <div class='text-center px-2 checkbox-container'>
                        <span>[_]Matériel non infecté</span>
                        <span>[_]Matériel légèrement infecté</span>
                        <span>[_]Matériel dangereusement infecté</span>
                    </div>
                    <hr>
                    <div class='container-1-3 pl-2'>Logiciel de nettoyage utilisé(s) :</div>
                    <div class='container-2-3 checkbox-container'> 
                        {% for software in cleaningSoftwares %}
                            <div class='checkbox-item'>[_]{{ software }} {% if not loop.last %}.....{% endif %}</div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class='pl-2 pb-2'>Analyse interne :</div>
                </div>
            </div>

            <div class='p-2'>
                <table class='tab'>
                    <tbody>
                        <tr>
                            <td class='tab-title font-weight-bold' colspan="3">Opérations effectuées</td>
                        </tr>
                        <tr>
                            <td class='border-on'></td>
                            <td class='border-on text-center'>Analyse externe</td>
                            <td class='border-on text-center'>Informations complémentaires</td>
                        </tr>
                        <tr>
                            <td class='border-on tab-label text-right'>Virus</td>
                            <td class='border-on'></td>
                            <td class='border-on'>
                                <div class='w-100'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>ADWC</span> <input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>RK</span></div>
                                <div class='w-100'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>CC</span> <input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>JRT</span> <input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>ZHP</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class='border-on tab-label text-right'>Malwares</td>
                            <td class='border-on'></td>
                            <td class='border-on'>
                                <div class='w-100'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Optimisation au démarrage</span></div>
                                <div class='w-100'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>RàZ navigateurs</span></div>
                                <div class='w-100'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Suppression proxy</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class='border-on tab-label text-right'>Spywares</td>
                            <td class='border-on'></td>
                            <td class='border-on'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Scan au redémarrage</span></td>
                        </tr>
                        <tr>
                            <td class='border-on' colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='border-on' colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='border-on' colspan="2"></td>
                            <td class='border-on'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Suppression de l'antivirus client</span></td>
                        </tr>
                        <tr>
                            <td class='border-on' colspan="2"></td>
                            <td class='border-on'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Installation d'un antivirus</span></td>
                        </tr>
                        <tr>
                            <td class='border-on' colspan="2"></td>
                            <td class='border-on'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Mise à jour de l'antivirus</span></td>
                        </tr>
                        <tr>
                            <td class='border-on' colspan="2"></td>
                            <td class='border-on'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Installation d'un spybot</span></td>
                        </tr>
                        <tr>
                            <td class='border-on' colspan="2"></td>
                            <td class='border-on'><input class='big-checkbox' type="checkbox"/><span class='checkbox-text'>Mise à jour du spybot</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class='p-2'>
                <p class='font-b font-20'>Observations : </p>
            </div>

        </div>
    </body>
</html>