{% extends 'base.html.twig' %}

{% block title %}Gestion de la tâche{% endblock %}

{% block javascripts %}        
    <script src="{{ asset('assets/js/colorFinder.js') }}"></script>
{% endblock %}

{% block body %}
    <div class='text-center'>	
        <div class='h2 mb-3 font-weight-bold'>Gestion de la tâche</div>
        <a class="grey-btn f-20 px-4 py-2" href="{{ path('task_edit', {'id': task.id}) }}">Modifier</a>
        {{ include('task/_delete_form.html.twig') }}
    </div>
    <hr>

    <div class="container show-container">
        <div class="row justify-content-around">
            <div class="container-background col-md-auto mb-auto mr-5 p-4">
                <div class='f-20 text-center font-weight-bold'>La tâche</div>
                <hr>
                <div class='row mb-2'>
                    <div class='col-md-auto my-auto'><i class="fas fa-wrench"></i></div>
                    <div class='col'>{{ task.title }}</div>
                </div>
                <hr>
                <div class='row mb-2'>
                    <div class='col-md-auto my-auto'><i class="fas fa-euro-sign"></i></div>
                    <div class='col'>{{ completePrice(task.price) }}</div>
                </div>
                <hr>
                <div class='row mb-2'>
                    <div class='col-md-auto my-auto'><i class="fas fa-palette"></i></div>
                    <div class='col text-center my-auto'><div class='color-box w-100' data-color="#{{ task.color }}"></div></div>
                </div>
            </div>



            <div class="container-background list col mb-auto p-4">
                <div class='f-20 text-center font-weight-bold'>Liste des demandes d'interventions concernant {{ task }}</div>
                <hr>
                <div class='container'>
                    <div class="row py-2 tab-head">
                        <div class="col-2">Ouverture</div>
                        <div class="col-3">Client</div>
                        <div class="col-3">Equipement</div>
                        <div class="col-4">Techniciens</div>
                    </div>
                    {% for intervention in interventions %}
                        <a href="{{ path('intervention_show', {'id': intervention.id}) }}">
                            <div class="row link py-1">
                                <div class="col-2 my-auto">{{ intervention.depositDate ? intervention.depositDate|date('d-m-Y') : '' }}</div>
                                <div class="col-3 my-auto">{{ intervention.client }}</div>
                                <div class="col-3 my-auto">{{ intervention.equipment }}</div>
                                <div class="col-4 my-auto">{% for technician in intervention.interventionReport.technicians %}{{ technician }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                            </div>
                        </a>
                    {% else %}
                        <div class="row">
                            <div class='col text-center p-2'>Aucunes interventions concernant cette tâche enregistrées</div>
                        </div>
                    {% endfor %}
                <div>
            </div>
        </div>
    </div>
{% endblock %}
