{% extends 'base.html.twig' %}

{% block title %}OperatingSystem index{% endblock %}

{% block body %}
    <h1>OperatingSystem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operating_system in operating_systems %}
            <tr>
                <td>{{ operating_system.id }}</td>
                <td>{{ operating_system.title }}</td>
                <td>
                    <a href="{{ path('operating_system_show', {'id': operating_system.id}) }}">show</a>
                    <a href="{{ path('operating_system_edit', {'id': operating_system.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operating_system_new') }}">Create new</a>
{% endblock %}
