{% extends 'base.html.twig' %}

{% block title %}Technician{% endblock %}

{% block body %}
    <h1>Technician</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technician.id }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ technician.lastName }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ technician.firstName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ technician.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('technician_index') }}">back to list</a>

    <a href="{{ path('technician_edit', {'id': technician.id}) }}">edit</a>

    {{ include('technician/_delete_form.html.twig') }}
{% endblock %}
