{{ form_start(form) }}

    <div class="p-4 form container-background">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class='col-6'>
                    <div class='col row'>
                        <h5>Nom</h5>            
                        {{ form_errors(form.last_name) }}
                        {{ form_widget(form.last_name, {'attr': {'class': 'mb-3'}}) }}
                    </div>

                    <div class='col row'>
                        <h5>Prénom</h5>            
                        {{ form_errors(form.first_name) }}
                        {{ form_widget(form.first_name, {'attr': {'class': 'mb-3'}}) }}
                    </div>

                    <div class='col row'>
                        <h5>Téléphone</h5>
                        {{ form_errors(form.phone) }}
                        {{ form_widget(form.phone, {'attr': {'class': 'mb-3'}}) }}
                    </div>

                    <div class='col row'>
                        <h5>Email <span class='h6 font-italic'>(facultatif)<span></h5>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'mb-3'}}) }}
                    </div>
                </div>

                <div class='col-6'>
                    <div class='col row'>
                        <h5>Adresse <span class='h6 font-italic'>(facultatif)<span></h5>            
                        {{ form_errors(form.street) }}
                        {{ form_widget(form.street, {'attr': {'class': 'mb-3'}}) }}
                    </div>

                    <div class='col row'>
                        <h5>Ville <span class='h6 font-italic'>(facultatif)<span></h5>            
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city, {'attr': {'class': 'mb-3'}}) }}
                    </div>

                    <div class='col row'>
                        <h5>Code postal <span class='h6 font-italic'>(facultatif)<span></h5>            
                        {{ form_errors(form.postal_code) }}
                        {{ form_widget(form.postal_code, {'attr': {'class': 'mb-3'}}) }}
                    </div>
                </div>

                <button class="green-btn py-2 px-4 mt-3">{{ button_label|default('Valider') }}</button>
            </div>
        </div>
    </div>

{{ form_end(form) }}
