<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f5c457ed93.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="/">GDI</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                
                <ul class="navbar-nav px-5">
                    <li class="nav-item active px-4">
                        <a class="nav-link" href="/">{{ 'Home'|trans }}</a>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Outils</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('client_index') }}">{{ 'Client'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('equipment_index') }}">{{ 'Equipment'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('intervention_index') }}">{{ 'intervention'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('operating_system_index') }}">{{ 'OperatingSystem'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('task_index') }}">{{ 'Task'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('technician_index') }}">{{ 'Technician'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('user_index') }}">{{ 'User'|trans }}</a>
                        </div>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#about">{{ 'About'|trans }}</a>
                    </li>
                </ul>
                
            </div> 
        </nav>

        <main role="main" class="container">

            <div class="modal fade" id="about">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">{{'About GDI'|trans}}</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{'GDI is a free software under an'|trans}} <a href='https://cecill.info/'>CeCILL</a> {{'license. It is developped with Symfony 4.'|trans}}</p>
                            <hr>
                            <h5>{{'Software developped by :'|trans}}</h5>
                            <p>2020 - HOCHET Dylan & LEYSENNE Rémi</p>
                            <hr>
                            <h5>{{'Version :'|trans}}</h5>
                            <label class='w-100'>1.0.0</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{{'Close'|trans}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="starter-template mt-5">
                {% block body %}{% endblock %}
            </div>

        </main>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>

